.attractions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.attractions__list{
    display: grid;
    gap: 24px;
    font-size: 16px;
}
.attractions__link{
    color: #000;
    border-bottom: 1px solid #dcd8d8;
    transition: opacity 0.7s;
    &:hover{
        opacity: 0.5;
    }
}
